rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner(uid) { return signedIn() && request.auth.uid == uid; }

    match /users/{uid} {
      allow read, write: if isOwner(uid);
    }

    match /lists/{id} {
      allow read, delete: if signedIn() && resource.data.ownerId == request.auth.uid;
      allow create, update: if signedIn() && request.resource.data.ownerId == request.auth.uid;
    }
  }
}
