rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner(uid) { return signedIn() && request.auth.uid == uid; }

    match /users/{uid} {
      allow read, write: if isOwner(uid);
    }

    match /tasks/{id} {
      function inAList() { return request.resource.data.listId is string; }
      allow read, delete: if isOwner(resource.data.ownerId);
      allow create: if isOwner(request.resource.data.ownerId) && inAList();
      allow update: if isOwner(resource.data.ownerId) && isOwner(request.resource.data.ownerId) && inAList();
    }

    match /lists/{id} {
      allow read: if isOwner(resource.data.ownerId);
      allow create: if isOwner(request.resource.data.ownerId);
      allow update: if isOwner(resource.data.ownerId) && isOwner(request.resource.data.ownerId);
      allow delete: if isOwner(resource.data.ownerId) && !resource.data.isInbox;
    }
  }
}
